/* animations */

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  border-right: 1px solid rgba(235, 235, 235, 0.15);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
  white-space: nowrap;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #acc8e5;
}

.fa-secondary {
  color: #acc8e5;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
}

.navbar:hover .logo svg {
  transform: rotate(-360deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 12rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

/* ---------------------------------------- HighCharts CSS ----------------------------------------- */

.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.highcharts-button-box {
  fill: transparent;
}

.highcharts-credits {
  display: none;
}

.highcharts-title {
  fill: rgb(232, 232, 232) !important;
  y: 70px;
}

#wordcloudTitles,
#wordcloudCompanies,
#money-chart,
#benefits-chart {
  height: 90%;
}

#wordcloudCompanies {
  height: 90%;
}

/* ---------------------------- MY CSS BEGINS HERE, ABOVE IS ALL NAVBAR ---------------------------- */

/* ----- GLOBAL ----- */
html {
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: rgb(232, 232, 232);
  --text-secondary: #1ac000;
  --bg-primary: black;
  --bg-secondary: black;
  --transition-speed: 600ms;
}

body {
  color: rgb(232, 232, 232);
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
}

/* ----- SECTIONS ----- */

.section,
.title-section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.title-section,
.section1,
.section2,
.section2-1,
.section3,
.section4,
.section5,
.section6 {
  background-color: #000000;
  border-bottom: 3px solid rgba(197, 162, 109, 0.15);
  color: rgb(232, 232, 232);
}

.title-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.magic {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    purple,
    violet,
    rgb(251, 126, 147),
    purple
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.sub-title {
  font-size: 2rem;
}

.astronaut {
  height: 50%;
}

.left-div,
.right-div {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-div {
  margin-right: 40px;
  gap: 20px;
}

.top-div,
.bottom-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro-question {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  padding-right: 59px;
}

.intro-first-text,
.word-cloud-text {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
}

.intro-second-text {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
}

.intro-second-text strong {
  color: #6649b8;
}

.section2 .left-div {
  padding-left: 20px;
}

.section2 {
  border-bottom: 0px;
}

.section2 .right-div {
  padding-left: 50px;
}

.word-cloud-question {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
}

.wordcloudCompanies {
  margin: 0;
}

#wctext2 {
  margin-left: 30px;
}

.word-cloud-text2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
}
